.contact-form-fields {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
  }
  
.contact-form-field {
  width: 25vw !important;
  margin-bottom: 2vh !important;
}

.form-contact {
  display: flex;
  flex-direction: column;
  width: 40vw;
  justify-content: space-around;
}